.headerContain {
  display: flex;
  align-items: center;
}
.dashHeader {
  color: #fb617f;
  margin: 0;
  padding: 20px 30px;
}
.dash {
  display: flex;
  padding: 0 10px;
}
.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  border: 1px solid #eee;
  border-radius: 6px;
  padding-bottom: 5px
}
.inputRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.inputRow input {
  padding: 10px;
  margin: 5px 5px 0px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  width: calc(100% - 100px);
  background: #fff;
}
.inputRow button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px 5px 0;
  background-color: #0066FE;
  color: #FFF;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
}
.inputRow button:hover {
  background-color: #0044bb;
}
.task {
  padding: 10px;
  font-size: 16px;
  margin: 5px 15px 10px;
  border: solid 1px #ccc;
  border-radius: 6px;overflow: hidden;
}
.task span {
  float: right;
}

@media screen and (max-width: 800px) {
  .dash {
    flex-direction: column;
  }
}
